body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; 
}
.kontainerra {
    padding: 20px;
    background-color: white;
    height: 100vh;
}

.kustomizazioa {
    background: rgb(248, 247, 247);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
.kolorea, .tamaina, .formatua {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.kolorea div, .tamaina div, .formatua div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kolorea .red { background: red; }
.kolorea .green { background: green; }
.kolorea .blue { background: blue; }
.kolorea .black { background: black; }
.kolorea .white { background: white; }
.kolorea .pink { background: pink; }
.kolorea .paleturquoise { background: paleturquoise; }
.kolorea .grey { background: grey; }
.kolorea .palegreen { background: palegreen; }
.kolorea .gainsboro { background: gainsboro; }
nav {
    background-color: #444;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
